input[type=text] {
	font-size: 18px;
	color: #545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	display: none;
	width: 90px;
}

label {
	float: left;
	font-size: 18px;
	color: #545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
}

.edit {
	float: left;
	width: 90px;
	height: 32px;
	display: block;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.clear {
	clear: both;
	height: 20px;
}